main {
  background-color: var(--mainBG);
  min-height: 100vh;
}

.getStarted {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 300px;
  text-align: center;
  margin-top: 40px;
}

.getStarted img {
  width: 100%;
  margin-bottom: 20px;
}

.getStarted .main-title {
  color: var(--Neutral);
  font-weight: 700;
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
}

.getStarted .basic-text {
  color: var(--Neutral);
  font-weight: 300;
  font-size: 15px;
  margin-top: 20px;
}

.getStarted .get-started-button {
  background-color: var(--blue);
  color: var(--Neutral);
  padding: 15px;
  border-radius: 25px;
  border: none;
  width: 200px;
  margin: auto;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

.attributes {
  width: 300px;
  text-align: center;
  margin: auto;
  margin-top: 120px;
}

.attributes div {
  margin-top: 70px;
}

.stay-productive {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 300px;
  margin-top: 140px;
}

.stay-productive img {
  width: 100%;
}

.stay-productive h2 {
  color: var(--Neutral);
  font-weight: 700;
  font-size: 1.1rem;
  font-family: "Raleway", sans-serif;
  margin-top: 30px;
  margin-bottom: 20px;
}

.stay-productive p {
  color: var(--Neutral);
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 20px;
}

.stay-productive a {
  color: var(--cyan);
  font-weight: 300;
  text-decoration: none;
  width: 130px;
  padding-bottom: 4px;
  border-bottom: 1px solid cyan;
}

.user-feedback {
  width: 290px;
  margin: auto;
  margin-top: 120px;
}

#quotes {
  width: 30px;
  margin-bottom: -4px;
  margin-left: 6px;
}

.early-access {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 280px;
  margin-top: 120px;
  background-color: var(--mainBG);
  border-radius: 10px;
  padding: 25px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
  margin-bottom: 20px;
  z-index: 1;
  position: relative;
}

.early-access h2 {
  color: var(--Neutral);
  font-weight: 700;
  font-size: 1.1rem;
  font-family: "Raleway", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}

.early-access p {
  color: var(--Neutral);
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 35px;
}

.early-access input {
  background-color: var(--Neutral);
  border: none;
  padding: 15px;
  border-radius: 25px;
  margin-bottom: 25px;
}

.early-access button {
  background-color: var(--blue);
  border: none;
  padding: 15px;
  border-radius: 25px;
  color: var(--Neutral);
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 500;
}

.company-infos {
  background-color: var(--footerBG);
  margin-top: -200px;
}

.company-infos #logo-info {
  margin-top: 270px;
  margin-bottom: 35px;
  margin-left: 50px;
}

.company-infos div {
  display: flex;
  gap: 25px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 300px;
  margin: auto;
  margin-bottom: 20px;
}

.company-infos div p {
  color: var(--Neutral);
  font-weight: 300;
  font-size: 15px;
}

.about-us {
  background-color: var(--footerBG);
  padding-top: 80px;
  margin-top: -20px;
}

.about-us ul {
  width: 300px;
  margin: auto;
}

.about-us ul li {
  list-style: none;
  color: var(--Neutral);
  font-weight: 300;
  font-size: 16px;
  padding-bottom: 15px;
}

.contact-us {
  background-color: var(--footerBG);
  padding-top: 40px;
}

.contact-us ul {
  width: 300px;
  margin: auto;
}

.contact-us ul li {
  list-style: none;
  color: var(--Neutral);
  font-weight: 300;
  font-size: 16px;
  padding-bottom: 15px;
}

footer {
  background-color: var(--footerBG);
  padding-top: 60px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}
