.company-infos {
  background-color: var(--footerBG);
  margin-top: -200px;
}

.company-infos #logo-info {
  margin-top: 270px;
  margin-bottom: 35px;
  margin-left: 50px;
}

.company-infos div {
  display: flex;
  gap: 25px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 300px;
  margin: auto;
  margin-bottom: 20px;
}

.company-infos div p {
  color: var(--Neutral);
  font-weight: 400;
  font-size: 14px;
}
