.early-access {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 280px;
  margin-top: 120px;
  background-color: var(--mainBG);
  border-radius: 10px;
  padding: 25px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
  margin-bottom: 20px;
}

.early-access h2 {
  color: var(--Neutral);
  font-weight: 700;
  font-size: 1.1rem;
  font-family: "Raleway", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}

.early-access p {
  color: var(--Neutral);
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 35px;
}

.early-access input {
  background-color: var(--Neutral);
  border: none;
  padding: 15px;
  border-radius: 25px;
  margin-bottom: 25px;
}

.early-access button {
  background-color: var(--blue);
  border: none;
  padding: 15px;
  border-radius: 25px;
  color: var(--Neutral);
  margin-bottom: 15px;
}
