.getStarted {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 300px;
  text-align: center;
  margin-top: 40px;
}

.getStarted img {
  width: 100%;
  margin-bottom: 20px;
}

.getStarted .main-title {
  color: var(--Neutral);
  font-weight: 700;
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
}

.getStarted .basic-text {
  color: var(--Neutral);
  font-weight: 400;
  font-size: 14px;
  margin-top: 20px;
}
